.cards{
  .card {
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    text-align: left;
    transition: 0.5s ease;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative;
    &__image {
      max-width: 100%;
      img{
        width: 50%;
        border-radius: 50%;
        margin: 15px auto;
        box-shadow: 0px 1px 15px rgba(0,0,0,0.25);
        border: 1px solid white;
      }
    }
    &__text {
      margin: 15px;
      .title {
        margin-top:0px;
        font-size:28px;
        font-weight: bold;
      }
      .calories {
        margin-left: 15px;
        width: 80px;
        font-size:14px;
        text-align: center;
        p{
          border:1px solid #dddddd;
          border-radius: 5px;
          padding: 4px 0px;
        }
      }
      .ingredients{
        list-style-type: none;
        padding-left: 0;
        font-weight: lighter;

        li{
          text-align: justify;
          font-size: 18px;
          padding: 5px 0px;
          border-bottom: 1px solid #dddddd;
          &:last-child{
            border:0;
          }
          &:hover{
            background-color: #ff896b;
          }
        }
      }
    }
    &:hover {
      transform: scale(1.02);
      box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    }
    .col-4{
      display: flex;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
    }
  }
}
